<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <header class="text-center text-white">
            <h1 class="bg-primary mt-3 p-3">NFL Teams</h1>

            @* show any message in TempData *@
            @if (TempData["message"] != null)
            {
                <h4 class="bg-success p-2">@TempData["message"]</h4>
            }

            @* show link to Favorites page unless on Favorites page *@
            @if (!ViewContext.View.Path.Contains("Favorites"))
            {
                var session = new NFLSession(Context.Session);
                <h5 class="bg-info p-2">
                    <a asp-controller="Favorites" asp-action="Index"
                       class="text-white">@(session.GetMyUsername() == null ? "My":session.GetMyUsername() + "'s") Favorite Teams</a>

                    @* get number of Favorite teams from session and display in badge *@
                    <span class="badge badge-light">@(session.GetMyTeamCount())</span>
                </h5>
            }
        </header>
        <main>
            @RenderBody()
        </main>
    </div>
</body>
</html>
